#display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(150, 168, 86, 1);
  font-family: "Segoe UI", Tahoma, sans-serif;
}

#display.dark {
  background: linear-gradient(135deg, #1d2540, #35336c);
}

.submitButtonWrapper {
  margin-top: 20px;
  margin-left: 60px;
}

.modeButtonWrapper {
  position: absolute;
  top: 500px;
  right: 20px;
}

#InputContainer {
  width: 700px;
  height: 500px;
  background-color: rgba(254, 190, 155, 1);
  border-radius: 16px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#InputContainer.dark {
  background: linear-gradient(135deg, #58689e, #35336c);
}

h1 {
  font-size: 30px;
  color: #000000;
  margin-bottom: 30px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  font-family: "Bungee", sans-serif;
}

#NameInputContainer {
  display: flex;
}
#Counter {
  font-size: 11px;
  color: gray;
  padding: 10px;
}

#NameInput {
  width: 300px;
  height: 45px;
  font-size: 18px;
  background-color: #fff8f0;
  border-radius: 8px;
  padding: 8px 12px;
  outline: none;
  transition: all 0.3s ease;
  border-radius: 40px;
}

#NameInput:focus {
  border-color: #6b5bff;
  box-shadow: 0 0 8px rgba(107, 91, 255, 0.4);
}

#NameInput.noerror {
  border: 2px solid #a0a0a0;
}

#NameInput.error {
  border: 2px solid #ff0000;
}

#InputParagraph {
  font-size: 12px;
  font-family: "Bungee", sans-serif;
}

#InputParagraph.noerror {
  color: black;
}

#InputParagraph.error {
  color: red;
}

.modeButtonWrapper {
  align-self: flex-end;
}

.inputButtonWrapper {
  margin-top: 20px;
  margin-left: 60px;
}
