body {
  background: rgba(150, 168, 86, 1);
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.greeting-text {
  flex: 1;
  padding: 90px 15px 0px 0px;
}

.greeting-text h2 {
  font-family: "Bungee", sans-serif;
  font-size: 64px;
  padding: 10px;
  margin: 0px;
}

.greeting-text p {
  font-size: 18px;
  padding: 0px 15px 0px 0px;
  margin: 0px;
}

.picture-container {
  flex: 1;
  height: 450px;
  background: url("https://picsum.photos/400") center/cover no-repeat;
  border-radius: 12px;
  padding: 40px;
  margin-top: 100px;
}
