.quiz-wrapper {
  background: rgba(254, 190, 155, 1);
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 10px 10px;
}

.question-text {
  align-items: center;
  font-family: "Bungee", sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 0px;
}
