.quiz-selection-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(150, 168, 86, 1);
  border-radius: 40px;
  margin: 33px;
  width: 500px;
  height: 78px;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

.quiz-selection-container:hover {
  background-color: rgb(249, 212, 192);
}

.quiz-selection {
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid black;
}

.quiz-input:hover {
  background-color: rgb(137, 23, 23);
}
