.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 500px;
  height: 50px;
  border: 1px solid black;
}

.quiz-container:hover {
  background-color: grey;
}
