.quiz-container {
  width: 500px;
  padding: 20px;
  margin: 20px auto;

  border: 1px solid #ddd;
  border-radius: 12px;

  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.3s ease;
}

.quiz-container:hover {
  background-color: #f8f4f4;
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}
